OPERADORES MATEMATICOS

In [ ]:
num1=4
num2=5
res = num1+num2
print (res)

9

In [ ]:
# Por defecto la función Input()  maneja datos tipos str (string)
num1= input("Digite primer número:")
num2= input ("Digite número 2: ")
res = num1+num2  #esta concatenando
print (res)

Digite número 1:5
Digite número 2: 2
52

In [ ]:
num1= int(input("Digite primer número: "))
num2= int(input ("Digite número 2: "))
res = num1+num2  #esta concatenando
print (res)

Digite primer número: 4
Digite número 2: 7
11

In [ ]:
num1= int(input("Digite primer número: "))
num2= int(input ("Digite número 2: "))
res = num1+num2  #esta concatenando
print (res)

Digite primer número: 67
Digite número 2: carlos

ValueError: ignored

In [ ]:
num1= float(input("Digite primer número: "))
num2= float(input ("Digite número 2: "))
res = num1+num2  #esta concatenando
print (res)

Digite primer número: 4.5
Digite número 2: 6.7
11.2

Se puede dar formato a la salida del print por medio de .FORMAT

print ("La suma es  = " ,format(res))  tambien es otra forma.

In [ ]:
num1= int(input("Digite primer número: "))
num2= int(input ("Digite número 2: "))

res = num1 + num2
print ("La suma es  =  {}" .format(res))

Digite primer número: 7
Digite número 2: 8
La suma es  =  15

In [ ]:
num1= int(input("Digite primer número: "))
num2= int(input ("Digite número 2: "))

res = num1 + num2
print ("La suma de {} y {} es  =  {}" .format(num1, num2, res))

Digite primer número: 35
Digite número 2: 43
La suma de 35 y 43 es  =  78

In [ ]:
#Forma abreviada de format
num1= int(input("Digite primer número: "))
num2= int(input ("Digite número 2: "))

res = num1 + num2
print (f"La suma de {num1} y {num2} es  =  {res}")

Digite primer número: 35
Digite número 2: 43
La suma de 35 y 43 es  =  78

**CALCULADORA**

In [ ]:
num1= int(input("Digite primer número: "))
num2= int(input ("Digite número 2: "))

suma=num1+num2
resta=num1-num2
mult=num1 * num2
divi=num1 / num2

print ("\nEl resultado de la SUMA es  =  {}" .format(suma)) #\n para salto de línea
print ("\nEl resultado de la RESTA es  =  {}" .format(resta))
print (f"\nEl resultado de la MULTIPLICACIÓN es  =  {mult}")
print (f"\nEl resultado de la DIVISIÓN es  =  {divi}")

Digite primer número: 20
Digite número 2: 4

El resultado de la SUMA es  =  24

El resultado de la RESTA es  =  16

El resultado de la MULTIPLICACIÓN es  =  80

El resultado de la DIVISION es  =  5.0

Se recibe una venta por concepto de un producto se requiere aplicar el IVA (19%) y conocer el total a pagar con el IVA Incluido

In [ ]:
#Variable para capturar el valor de la venta
venta= float(input("Digite total de la compra: "))
#Calculo del iva sobre la venta
iva=venta*0.19
#Total más el IVA
total=venta+iva
print ("El IVA es igual a ${} y el total a pagar es ${}".format(iva, total))

Digite total de la compra: 34500
El IVA es igual a $6555.0 y el total a pagar es $41055.0

## **Uso de máscaras de salida para los valores**

In [ ]:
#Variable para capturar el valor de la venta
venta= float(input("Digite total de la compra: "))
#Calculo del iva sobre la venta
iva=venta*0.19
#Total más el IVA
total=venta+iva
print ("El IVA es ${:,.0f} y el total a pagar es ${:,.0f}".format(iva, total))

Digite total de la compra: 34500
El IVA es $6,555 y el total a pagar es $41,055

### **Cambiar la cantidad de decimales**

In [ ]:
#Variable para capturar el valor de la venta
venta= float(input("Digite total de la compra: "))
#Calculo del iva sobre la venta
iva=venta*0.19
#Total más el IVA
total=venta+iva
print ("El IVA es ${:,.2f} y el total a pagar es ${:,.4f}".format(iva, total))

Digite total de la compra: 34500
El IVA es $6,555.00 y el total a pagar es $41,055.0000

Se requiere conocer el promedio general de una materia que está dada por tres calificaciones

In [ ]:
not1 = float(input("Digite la calificación 1: "))
not2 = float(input("Digite la calificación 2: "))
not3 = float(input("Digite la calificación 3: "))

prom = round( (not1 +not2 + not3)/3,  2)

print(f"El promedio de las calificaciones ingresadas es = {prom}")

Digite la calificación 1: 4.5
Digite la calificación 2: 3.5
Digite la calificación 3: 4.8
El promedio de las calificaciones ingresadas es = 4.27

# **TALLER # 2** - **OPERADORES MATEMÁTICOS**

Un vendedor recibe un sueldo base más un 10% extra por
comisión de sus ventas, el vendedor desea saber cuánto
dinero obtendrá por concepto de comisiones por las tres
ventas que realiza en el mes y el total que recibirá en
el mes tomando en cuenta su sueldo base y comisiones.

In [ ]:
sueldobase= float(input("Digite sueldo base: "))
cantvent=float(input("Cantidad ventas del mes: "))
comi=(sueldobase*0.10)*cantvent
#Total sueldo base + comisión por ventas
total=sueldobase+comi
print ("Total de comisión es ${:,.0f} y el total a pagar es ${:,.0f}".format(comi, total))

Digite sueldo base: 2853000
Cantidad ventas del mes: 3
Total de comisión es $855,900 y el total a pagar es $3,708,900

Una tienda ofrece un descuento del 15% sobre el total
de la compra y un cliente desea saber cuánto deberá
pagar finalmente por su compra.

In [ ]:
valcompra= float(input("Digite el valor de la compra: "))
desc=valcompra*0.15
#Total menos descuento
total=valcompra - desc
print ("El descuento es ${:,.0f} y el total a pagar es ${:,.0f}".format(desc, total))

Digite el valor de la compra: 650000
El descuento es $97,500 y el total a pagar es $552,500

Un alumno desea saber cuál será su calificación final en
la materia de Algoritmos. Dicha calificación se compone
de tres exámenes parciales.

In [ ]:
not1 = float(input("Digite la examén 1: "))
not2 = float(input("Digite la examén 2: "))
not3 = float(input("Digite la examén 3: "))

prom = round( (not1 +not2 + not3)/3,  2)  #redondear el valor

print(f"La calificación final es {prom}")

Digite la examén 1: 4.3
Digite la examén 2: 2.3
Digite la examén 3: 3.3
La calificación final es 3.3

Un maestro desea saber qué porcentaje de hombres y que
porcentaje de mujeres hay en un grupo de estudiantes.

In [ ]:
t_estudiantes = float(input("Digite el total de estudiantes: "))
hom = float(input("Digite cantidad de hombres: "))

muj= t_estudiantes-hom #cantidad de mujeres
porch = round( (hom*100)/t_estudiantes,  4)
porcm = round( (muj*100)/t_estudiantes,  4)

print(f"El porcentaje de hombres es {porch } y el porcentaje de mujeres es {porcm}")

Digite el total de estudiantes: 150
Digite cantidad de hombres: 70
El porcentaje de hombres es 46.6667 y el porcentaje de mujeres es 53.3333